* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Estilos para o header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background-color: #4572E5;
    color: #fff;
    flex-wrap: wrap;
}

/* Estilos para o logotipo */
.logo {
    font-size: 1.5em;
    font-weight: bold;
}

/* Estilos para a navegação */
nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }
    
    nav ul li {
        margin-left: 0;
        margin-top: 10px;
    }
}

li {
    cursor: pointer;
}
   button {
    margin: 10px;
    display: flex;
    top: -12px;
    position: relative;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    background: linear-gradient(20deg, #f22C74, #ff004c);
    border-radius: 20px;
    font-size: 20px;
    flex-wrap: wrap;
    margin-left: 80px;
    
    animation-name: troca;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    
   }



   button:hover {
    background: linear-gradient(90deg, #f7545c, #df0404, #be8181);
   
   }


   