@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Bebas+Neue&display=swap');



.divv1{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    font-size: 20px;
   
}

.divv1 p{
    font-family: "Arimo", sans-serif;
    display: flex;
    position: absolute;
    color: rgb(255, 255, 255);
    left: auto;
    top: auto;
    flex-wrap: wrap;
}
.position {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 850px;
}

.container {
    width: 400px;
    justify-content: center;
    flex-wrap: wrap;
    
}

.progress {
    background: rgb(46, 44, 44);
    padding: 60px;
    border-radius: 30px;
}

.progress-bar{
    height: 18px;
    background-color: rgb(101, 37, 173);
    border-radius: 30px;
    animation-name: barra;
    animation-duration: 2s;
    animation-timing-function: ease-in;
}

@keyframes barra{
    0% {width: 0%;}
    80% {width: 85%;
    background-color: rgb(255, 251, 0);}
    100% {width: 100%;
    background-color: rgb(6, 204, 6);}
}



