<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>zElo</title>
    <link rel="stylesheet" href="/zElo-/layout/style.css">
</head>
<body>

    <!--Cabeçalho-->
    <header>
        <h1>zELO</h1>
        <nav>
         <ul>
          <li><a href="">QUEM SOMOS</a></li>
          <li><a href="">COMO FUNCIONA</a></li>
          <li><a href="">FALE CONOSCO</a></li>
          <li><a href="">NOSSOS FUNCIONÁRIOS</a></li>
          <button>Quero ser Cuidador</button>
          <button>Preciso de Cuidador</button>
         </ul>
        </nav>
         </header>
    
        <script src="/zElo-/layout/index.js"></script>
</body>
</html>
