<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>zElo</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <!--Cabeçalho-->
    <header>
        <h1><span>zELO</span></h1>
        <nav>
            <ul>
                <li id="somos">QUEM SOMOS</li>
                <li id="funciona">COMO FUNCIONA</li>
                <li id="conosco">FALE CONOSCO</li>
                <li id="nossos">NOSSOS FUNCIONÁRIOS</li>
                        <button id="loading1">Quero ser Cuidador</button>
                        <button id="cuidador">Preciso de Cuidador</button></a> 
            </ul>
        </nav>
    </header>
    
        <script src="/index.js"></script>
</body>
</html>
