<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>zElo</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <!--Cabeçalho-->
    <header>
        <h1><span></span></h1>
        <img src="https://chat.google.com/u/0/api/get_attachment_url?url_type=FIFE_URL&content_type=image%2Fpng&attachment_token=AOo0EEUdy78nfe5%2FaDi17TjHTbI9KcY2662Bu9L8UnBh9Nu6%2Bkkltdfh5mVV0pP%2F68VHEPZyNhPe5nI%2FUCoKu%2B9CQtN58qteYDXog288IdcTNUcZKiIHtUcTchwjBT%2FqI7ANSDwEUdfV4glVBw7qmZC%2FWvtTFDs2hcJMoLJ5r2YRMH%2FPZia03SXxcBnVG1ayLkx3njDpSrnvvkbahsefcaP3D5DjtOV1XNmtkkR%2BtAONWaZS1MwmZcuYU9fRV5ymCbOMdoAZfWBf%2BxeX2IVEZT2ZDXakUYVeIU6fvgL523Je1yzb5AtPyuLFSGuKcbFhM8XnKa0h6shXt39C9eo%2BAEItD3A4qEH1eE5eY3P6OrMKikl94FtNxys47vdmMYk2Ep%2BVPKt%2FqBZf%2BywLLxU1lFWahV5e0FKfqYBTniiAF2OctQAGskAJgCFD9D2DptLFRK8LotTBZW9EJHVV6iY9NRoLJ%2B5ogs9XaCZmWN41nQluXpiP0FWBD%2B1kZqIYRu%2FDkcavxUDELq%2FelPhAXkLbxztQH5ooYY2AV9Fpzh%2BaW9cxfX7vrHDixBQdq9oM%2FO8nkExTXmdDQMYbLHi5QSey%2BSx3uOe1nfq0p9n4K%2BqXNjE3o99Qs80%3D&sz=w512" alt="zElo">
        <nav>
            <ul>
                <li id="somos">QUEM SOMOS</li>
                <li id="funciona">COMO FUNCIONA</li>
                <li id="conosco">FALE CONOSCO</li>
                <li id="nossos">NOSSOS FUNCIONÁRIOS</li>
                        <button id="loading1">Quero ser Cuidador</button>
                        <button id="loading2">Preciso de Cuidador</button></a> 
            </ul>
        </nav>
    </header>
    
        <script src="/index.js"></script>
</body>
</html>
