<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="/styleMain.css">
</head>
<body>
    <div class="position">
        <div class="container">
            <div class="progress">
                <div class="progress-bar">
                    <div class="texto">
                        <p class="loading">Carregando</p>
                    </div>
                </div>  
            </div>
        </div>
    </div>
    
</body>
</html>